
body{
    background-image: url('../img/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align:  center;
    color: honeydew;
}

/*.icono{
    height: 50px;
    width: 70px;
    border-radius: 15px;
    padding: 5px;
}*/

footer{
    background-color:  #202124;
    height: 300px;
    width: 1362px;
}

input{
    height: 40px;
    width: 10px;
}

form{
    height: 70px;
    width: 400px;
    
}

.redes{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    font-size: 1px;
    justify-content: center;
}

.facebook{
    background: blue;
    
    color: white;
    padding: -5px;
    border-radius: 90px;
    width: 40px;
    height: 40px;
}

.instagram{
    background: crimson;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 70px;
}

.twitter{
    background: rgb(12, 193, 248);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 70px;
}

.youtube{
    background: white;
    color: red;
    width: 40px;
    height: 40px;
    border-radius: 70px;
}

hr{
    color: aliceblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container2{
    position: initial;
}

.final{
    width: 300px;
    height: 500;
}

.descripcion{
    text-align: center;
    color: aliceblue;
}
